body {
    font-family: "Roboto Mono", monospace;
    background-color: #f4f6f8;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    gap: 10px;
    max-width: 900px;
    margin: 0 auto;
}

.key {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;

    box-shadow: 0 4px 6px rgba(0,0,0,0.15);

    cursor: pointer;
    user-select: none;

    transition: all 0.15s ease;
}

.wide {
    grid-column: span 2;
}

.space {
    grid-column: span 14;
}

.key:hover {
    background-color: #e3eaff;
}

.key:active {
    background-color: #c7d2fe;
    box-shadow: 0 2px 3px rgba(0,0,0,0.25);
    transform: translateY(2px);
}
