body {
    font-family: "Roboto Mono", monospace;
    background-color: #f2f4f6;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(22, 1fr);
    gap: 8px;
    max-width: 1200px;
    margin: 0 auto;
}

.spacer {
    background: transparent;
}

.key {
    background-color: #ffffff;
    padding: 12px;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);

    cursor: pointer;
    user-select: none;
    transition: 0.15s;
}

.wide {
    grid-column: span 2;
}

.space {
    grid-column: span 8;
}

.tall {
    grid-row: span 2;
}

.key:hover {
    background-color: #e6ecff;
}

.key:active {
    transform: translateY(2px);
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
    background-color: #cdd9ff;
}
